body{font-family: 'Open Sans', sans-serif; background:url(../img/background.png) no-repeat; /*overflow-x:hidden;*/}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}


.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}

.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}

.wrapper{width:100%; margin: 0 auto; position: relative;}
.content{width:1000px; margin: 0 auto; position: relative;}
.wrapper:after {content: " ";display: table; clear: both;}
.clear{clear: both;}
.wrapper:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content:after {content: " ";display: table; clear: both;}
.content:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.firstRowCont{ min-height: 500px; background: #ccc;}
.firstRowCont:after {content: " ";display: table; clear: both;}
.firstRowCont:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.headerContent{width: 100%;position: absolute;z-index: 1;background: rgba(254, 254, 254, 0.8);left: 0px;right: 0px;margin: 0 auto;}
.headerContent:after {content: " ";display: table; clear: both;}
.headerContent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.header{height: 80px;width: 1000px; margin: 0 auto;}
.logo{padding: 20px 0px; float: left;}
.firstRow{height:inherit; min-height:500px;position: relative; text-align: center; background:url(../img/slider1.png) no-repeat; background-position: center top; background-size: cover; padding: 0px; margin: 0px;width: 100%; margin: 0 auto;}
.firstRow a{position: absolute;right:0px; top:20px;}
.firstRowContent{width: 1000px;padding-top: 140px; margin: 0 auto}
.firstRowContent h1{color:#1f1f1f;line-height: 1.3; font-size: 42px; text-align: left;font-weight: 700; margin: 0px; padding: 0px; width: 600px;}
.callUs{border-radius: 50px;display: inline-block; float:left;padding: 5px 30px;background: #1387c2;}
.firstRowContent p{text-align: left; font-size: 36px; padding:5px 0px; color:#4b4b4b;  font-weight: 400;word-wrap:break-word; margin: 0px 0;float: left;margin-right: 20px;}
.callUs p{color: #fff; font-weight: 600;word-wrap:break-word; font-size: 36px;margin: 0px; padding: 0px; line-height: 60px; text-align: center;}
.secondRow{ min-height: 100px; width: 100%; font-size: 52px; color: #fff; font-weight: bold;background: #1a8fd3; padding: 0px 0px;}
.secondRowCont {text-align: center;background: #fff;min-height: 170px;position: relative;padding: 50px 0px;}
.leftDiv p.secondHd{color: #666;font-size: 24px;line-height: 1.4;font-weight: bold;margin-bottom: 20px;}
.secondRowCont .leftDiv:first-child{padding-right: 35px}
.secondHd span{color: #1e93d7;}
.greyWrap{background: #f0f0f0;padding: 6% 3% 6% 5%;}
.flRte img{margin-left: 30px;padding-top: 17px !important;}
.ml-50{margin-left: 40px !important;}
.col1{padding-left: 10px; padding-right: 10px;}

/*.col{padding-left: 10px; padding-right: 10px;}
.col2{padding-left: 10px; padding-right: 10px;}
.col3{padding-left: 10px; padding-right: 10px;}
.col4{padding-left: 10px; padding-right: 10px;}*/
.colCotent:after {content: " ";display: table; clear: both;}
.colCotent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content .col{text-align: left; margin-top: 25px; width: 25%; padding: 0px 11px;border-right: thin solid #66aad1;}
.content .col:last-child{border-right: 0px;}
.content .col img{float: left;  margin-right: 10px;}
.content .col p{float: left; font-size: 24px; padding: 0px; margin: 0px; vertical-align: top;line-height: 24px; font-weight: 400;color:#fff;}
.content .col p span{font-size: 16px; color: #fff; display: block; color:#fff;}
.leftDiv{padding-left: 0px; text-align: left;}
.leftDiv p{font-size: 14px;color:#666666; line-height: 24px; margin-bottom: 10px;}
.leftDiv ul{margin:0px; padding:0px; list-style: none; text-align: left;}
.leftDiv ul li{background: url(../img/bullet.png) no-repeat left 15px; padding: 7px 30px 7px 20px; font-size: 14px; line-height: 22px;color:#666; text-align: left;}
.rightDiv{margin-bottom: 0px; border-left: thin solid #cccccc;}
.rightDiv .heading{font-size: 18px; line-height: 28px; display: inline; padding-bottom: 5px;}
.rightDiv ul{padding: 0px; margin: 0px; list-style: none; margin-top: 30px;}
.rightDiv ul li{display: inline-block; margin-bottom: 20px;color:#666666;}
.rightDiv ul li:nth-child(odd){margin-right: 45px;width:205px;}
.rightDiv ul li img{float: left; margin-right: 10px;}
.supportBlk{overflow: hidden;background: url(../img/background.png)}
.supportBlk .col{width: 50%}
ul.supportBlk li.col{margin: 0;padding-bottom: 15px;padding-top: 15px;list-style: none;background: none;border:0;min-height: 142px;}
ul.supportBlk li.col:nth-child(odd){border-right: 1px solid #fff;}
ul.supportBlk li.col:first-child,ul.supportBlk li.col:nth-child(4n+2){border-bottom:1px solid #fff;}
ul.supportBlk li.col p{float: none;display: block;color: #1e93d7;font-weight: bold;font-size: 18px;margin-bottom: 10px;}
ul.supportBlk li.col span{display: inline-block;float: left;width: 70%;}
.rightDiv ul li p{font-size: 12px;color: #ccc;float: left; font-size: 15px; padding-top: 10px;color:#666666;}
.leftDiv p.testimonailText{font-size: 28px; line-height: 44px; color:#666;}
.testimonailText span{font-size: 32px; color:#1e93d7; font-weight: 600;}
.carousel{margin-top: 30px; margin-bottom: 40px; float: right;}
.testimonailYellowDiv{ margin-left: 20px; width: 320px; min-height: 160px; background:url(../img/commentWrapper.png) no-repeat; color:#fff; font-size: 18px; font-weight: 400; padding: 10px 30px; float: right;}
.testimonailYellowDiv p{font-weight: 600; color:#fff;}
.testimonialBy{display: inline-block; float: right; font-weight: 800; margin-top: 0px;}
.userImg{float: left;position:relative; margin-top: 75px;}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #1e93d7;
}
.carousel-indicators li {
background-color: #ccc;
}
.carousel-indicators {bottom: 0px;padding-bottom: 0px; left:0px; margin-left: -30%; text-align: left; margin-bottom: -20px;}
.carousel-inner{height: 180px;}



.thirdRow{text-align: center;background: #f0f0f0; min-height: 170px;position: relative;padding: 50px 0px;}
.thirdRow .heading{font-size: 24px; line-height: 30px; display: inline-block; padding-bottom: 5px; text-align: center;  font-weight: bold;color:#1e93d7;}
.subTextLight{font-size: 18px; font-weight: 400; text-align: center;}
.hiwUl{padding: 0px; margin: 0px; list-style: none;text-align: center;}
.hiwUl li{display: inline-block;vertical-align: middle; width: 220px; margin-top: 20px;}
.blueBold{font-size: 32px; font-weight: 900; color: #1387c2; margin-top: 20px;}
.italicText{font-size: 16px; font-weight: 600; font-style: italic; text-transform: lowercase; color:#666;}
.hiwUl li:nth-child(even) {width: 160px; vertical-align: text-bottom; }
.callUsStrip{text-align: center;background: #f0f0f0; position: relative;padding: 25px 0px;}
.stripText{font-size: 36px; line-height: 40px; color:#666666;}
.stripTextBold{font-size: 48px; font-weight: 600; color: #168bcf;}
.callUsStripUl{padding: 0px; margin: 0px; list-style: none; text-align: center;}
.callUsStripUl li{display: inline-block;padding-right:30px; vertical-align: middle; }
.fourthRow .rightDiv{border-left: 0}



.fourthRow{ min-height: 170px;position: relative;padding: 50px 0px;}
.fourthRow .heading{font-size: 18px; line-height: 28px; display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: bold;color:#1e93d7;}
.subTextWhite{font-size: 18px; color:#fff;}
.fifthRow{ min-height: 170px;position: relative;padding: 50px 0px; background:#fff; text-align: center;}
.fifthRow .heading{font-size: 18px; line-height: 24px;  display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: bold;color:#1e93d7; text-align: center;}
.disclaimerText{padding font-size: 14px; line-height: 18px;color:#666666; text-align: left;}
.disclaimerText .bold{font-weight: bold; font-style: italic;}
.sixthRow{background: #cccccc; min-height: 55px;}
.copyRight{font-size: 11px; padding-top: 20px; color: #666666; float: left; line-height: 30px;}
.sixthRow .cards{float: right;font-size: 11px; padding-top: 20px; color: #fff;}
.sixthRow .cards span{float: left; line-height: 30px;color:#666666;}
.sixthRow img{float: right;	margin-left: 20px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mt-40{margin-top: 40px;}
.mb-40{margin-bottom: 40px;}
ul.helpBlk{padding: 0;margin:20px 0;list-style: none;width: 600px;overflow: hidden;}
ul.helpBlk li{background: url(../img/warn.png) no-repeat left 5px;padding: 7px 30px 7px 37px;font-size: 14px;line-height: 22px;color: #4d4d4d;width: 50%;float: left;text-align: left}
a.panel-title{text-decoration: none}
a.panel-title span{display: none;}
a.panel-title span.show{display: inline-block !important;}

.callUsHeader{width:100%; position: fixed; background: #000; padding: 10px; text-align: center; color: #fff; z-index: 500; display: none;}
.callUsHeader .stripText {color: #fff;}
/*	media queries  */
@media (max-width: 1240px){
	.content, .header{width: 960px;padding: 0px 10px;}
	.firstRowContent{width: 960px}
	.hiwUl li {width: 200px;}
	.firstRow, .headerContent{width: 100%;}
	.testimonailText{font-size: 27px; letter-spacing: -.5px;}
	.testimonailYellowDiv{width: 300px;}
	.content .col{padding:0px 10px;}
	
	.content .col img{width: 30px;} 	
}

@media(max-width: 992px){
	.content .col img{width:auto} 	
	.content, .header{width: 710px; padding-left: 12px; padding-right: 12px;}
	.firstRowContent{width: 710px;}
	.firstRowContent h1{font-size: 36px; line-height: 40px; width: 450px;}
	.firstRowContent p{font-size: 36px; line-height: 40px;}
	.callUs p{font-size: 36px; line-height: 40px;}
	.rightDiv{border-left: 0px; padding-left: 0px;}
	.hiwUl li {width: 100%;}
	.testimonailYellowDiv {width: 300px;float: left;}
	.content .col {width: 100% !important; text-align: center; border: 0px;}
	.content .col p{text-align: center; float: none;}
	.content .col img{text-align: center; float: none;}
	ul.supportBlk li.col img{float: left}
	ul.supportBlk li.col{border:0 !important;border-bottom:1px solid #fff !important ;min-height: 100px}
	ul.supportBlk li.col span{width: 85%;}
	.firstRow{background-position: 75% top;}
	.col4{margin-bottom: 50px;}
	.arrowRight{-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
	.hiwUl li{margin: 20px 0px;}
	.carousel {float: left;}
	.leftDiv ul{margin-bottom: 20px;}

	/*.callUs{border-radius: 50px;}
	.rightDiv ul li:nth-child(odd){margin-right: 30px;}
	.content .col{padding-right: 0px;}
	.rightDiv{padding-left: 0px;}
	.leftDiv{border-right: 0px; border-bottom: thin solid #cccccc;padding-bottom: 30px;}
	.flRte img{margin-left: 0px; padding-top: 8px !important;}
	.flRte p{padding-top: 40px !important;}
	.ml-50{margin-left: 0px !important;padding-top: 18px !important;}
	.secondRow {padding-top: 20px;padding-bottom: 20px;}
	.rightDiv ul li:nth-child(odd) {margin-right: 0px; width: 100%;}
	.content .col img{width: 60px; margin-right: 20px; padding-top: 20px;}
	.content .col{margin-bottom: 20px;}
	.firstRow{background-position: right center;}
	.firstRow a {right: 20px;}
	.absoluteContent{bottom:20px;}
	.fourthRow .heading {margin: 0px;}
	.firstRowCont{min-height: 300px;}
	.firstRow{min-height: 300px;}
	.absoluteContent h1{font-size: 32px; font-weight: 400;}
	.absoluteContent p{font-size: 30px; padding:0px 30px;}*/
}

@media(max-width: 730px){
	.content, .header {width: 100%; padding:0px 20px;}
	.firstRowContent{width: 100%; padding-left:20px; padding-right: 20px; }
	.absoluteContent p span{font-weight: 400;}
	.callUs p{display: block; margin: 0px;}
	.callUs p span{display: block;}
	.testimonailYellowDiv{}
	.callUs {padding: 5px 20px;}
}
@media(max-width: 650px){
	ul.helpBlk{width: 100%}
	ul.helpBlk li{width: 100%}
}

@media(max-width: 520px){
	.testimonailYellowDiv {float: none;width: 60%;background: #0f84c8;height: auto;margin: 0 auto;min-height: inherit;}
	.carousel-inner{min-height: inherit; height: auto;}
	.testimonailText span {display: block;}
	.testimonailText{text-align: center;}
	.copyRight{float: none; text-align: center;	}
	.sixthRow .cards{float: none;text-align: center;}
	.sixthRow img {float: none;}
	.sixthRow .cards span {float: none;}
	.firstRowContent h1 {width: 100%;}
	.carousel-indicators {bottom: 0px;padding-bottom: 0px;left: 0px;margin-left: auto;margin-right: auto;right: 0px;text-align: center; position: relative; margin-bottom: 0px;}
	.userImg {position: relative;float: none;margin: 20px auto;display: block;}
	.carousel {margin-top: 0px;}
	.stripTextBold {font-size: 36px; line-height: 46px;}
	ul.supportBlk li.col span{width: 70%;}
}

@media(max-width: 420px){
	.testimonailYellowDiv{width: 95%;}
	.firstRowContent h1{font-size:30px }
	.firstRowContent{padding-top: 120px}
}