body{font-family: 'Open Sans', sans-serif; background:url(../img/background.png) no-repeat; /*overflow-x:hidden;*/}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}


.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}

.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}

.wrapper{width:100%; margin: 0 auto; position: relative;}
.content{width:1000px; margin: 0 auto; position: relative;}
.wrapper:after {content: " ";display: table; clear: both;}
.clear{clear: both;}
.wrapper:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content:after {content: " ";display: table; clear: both;}
.content:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.firstRowCont{ min-height: 500px; background: #ccc;}
.firstRowCont:after {content: " ";display: table; clear: both;}
.firstRowCont:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.headerContent{width: 100%;position: absolute;z-index: 1;background: rgba(254, 254, 254, 0.8);left: 0px;right: 0px;margin: 0 auto;}
.headerContent:after {content: " ";display: table; clear: both;}
.headerContent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.header{height: 80px;width: 1000px; margin: 0 auto;}
.logo{padding: 20px 0px; float: right;}
.firstRow{height:inherit; min-height:500px;position: relative; text-align: center; background:url(../img/slider1.png) no-repeat; background-size: cover;background-position: center top; padding: 0px; margin: 0px;width: 100%; margin: 0 auto;}
.firstRow a{position: absolute;right:0px; top:20px;}
.firstRowContent{width: 1000px;padding-top: 130px; margin: 0 auto}
.firstRowContent h1{color:#4b4b4b; font-size: 42px; text-align: left;font-weight: 700; margin: 30px 0px 10px 0px; padding: 0px; width: 500px; line-height: 50px;}
.callUs{border-radius: 50px;display: inline-block; float:left;padding: 5px 30px;background: #eeaf19; margin-bottom: 20px;}
.firstRowContent p{text-align: left; font-size: 36px; line-height: 48px; padding:5px 0px; color:#4b4b4b;  font-weight: 400;word-wrap:break-word; margin-right: 10px; float: 
left;}
.headerBulletList{margin: 0px; padding: 0px; list-style: none; text-align: left;}
.headerBulletList li{background: url(../img/yellowTriangle.png) no-repeat left top; padding: 12px 30px 7px 40px; text-align: left; font-size: 18px;  margin-bottom: 15px; text-transform: uppercase; font-weight: 600; color:#4d4d4d;}
.callUs p{color: #fff; font-weight: 600;word-wrap:break-word; font-size: 36px;margin: 0px; padding: 0px; line-height: 48px; text-align: center;}
.secondRow{ min-height: 100px; width: 100%; font-size: 52px; color: #fff; font-weight: bold;background: #4b4b4b; padding: 0px 0px;}
.flRte img{margin-left: 30px;padding-top: 17px !important;}
.ml-50{margin-left: 40px !important;}
.col1{width: 300px;background: url(../img/rightArrow.png) no-repeat; background-position: right center; height:100px;}
.col2{width: 250px;background: url(../img/rightArrow.png) no-repeat; background-position: right center; height:100px;}
.col3{width: 200px;background: url(../img/rightArrow.png) no-repeat; background-position: right center; height:100px;}
.col4{width: 250px;}



.colCotent:after {content: " ";display: table; clear: both;}
.colCotent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content .col{text-align: left; padding: 0px 10px; padding-top: 25px;}
.content .col:last-child{border-right: 0px;}
.content .col img{float: left;  margin-right: 8px;}
.content .col p{float: left; font-size: 20px; padding: 0px; margin: 2px 0px; vertical-align: top;line-height: 24px; font-weight: 400;color:#ec544a; text-transform: uppercase;}
.content .col p span{font-size: 15px; color: #fff; display: block; color:#fff; text-transform: none !important;}
.leftDiv{padding-left: 0px; text-align: left;}
.leftDiv p{font-size: 14px;color:#666666; line-height: 24px; margin-bottom: 10px;}
.protection ul{margin:0px; padding:0px; list-style: none; text-align: left;}
.protection ul li{background: url(../img/redTick.png) no-repeat left center; padding: 7px 30px 7px 20px; font-size: 14px; line-height: 22px;color:#666; text-align: left;}
.rightDiv{margin-bottom: 0px; border-left: thin solid #cccccc;}
.rightDiv .heading{font-size: 18px; line-height: 28px; border-bottom: 2px solid #eeaf19; display: inline; padding-bottom: 5px;}
.rightDiv ul{padding: 0px; margin: 0px; list-style: none; margin-top: 30px;}
.rightDiv ul li{display: inline-block; margin-bottom: 20px;color:#666666;}
.rightDiv ul li:nth-child(odd){margin-right: 45px;width:205px;}
.rightDiv ul li img{float: left; margin-right: 10px;}


.rightDiv ul li p{float: left; font-size: 15px; padding-top: 10px;color:#666666;}
.testimonailText{font-size: 28px; line-height: 44px; color:#666;}
.testimonailText span{font-size: 32px; color:#fdb511; font-weight: 600;}

.testimonailYellowDiv{ width: 350px; min-height: 160px; background:url(../img/commentWrapper.png) no-repeat; color:#fff; font-size: 18px; font-weight: 400; padding: 10px 30px; float: right;}
.testimonailYellowDiv p{font-weight: 600; color:#fff;}
.testimonialBy{display: inline-block; float: right; font-weight: 800; margin-top: 0px;}
.userImg{float: left;position:relative; margin-top: 75px;}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #ec544a;
}
.carousel-indicators li {
background-color: #ccc;
}

.carousel-indicators {
bottom: 0px !important;
margin-bottom: -30px !important;
}

.carousel-inner{min-height: 400px;}

.carousel-inner .item img{margin-bottom: 20px;}
.head{
font-size: 18px;
line-height: 30px;
text-align: center;
font-weight: 600;
color: #666;
margin-bottom: 20px;
text-transform: uppercase;

}

.learnMore{border: thin solid #ec544a; border-radius: 5px; background: transparent; color: #ec544a; text-align: center; padding: 7px 15px; margin-top: 15px; outline: none;}

.carousel-inner .item .normalText{font-size: 14px !important;}


.thirdRow{text-align: center;background:#fff; min-height: 170px;position: relative;padding: 50px 0px;}
.thirdRow .heading{font-size: 18px; line-height: 30px; border-bottom: 2px solid #ec544a; display: inline-block; padding-bottom: 5px; text-align: center; color:#666; margin-bottom: 20px;}
.subTextLight{font-size: 18px; font-weight: 400; text-align: center;}
.hiwUl{padding: 0px; margin: 0px; list-style: none;text-align: center; display: table;}
.hiwUl li{display: inline-block; width: 255px; margin-top: 20px; display: table-cell;}
.yellowBold{font-size: 32px; font-weight: 900; color: #fdb511; margin-top: 20px;}
.italicText{font-size: 16px; font-weight: 600; font-style: italic; text-transform: lowercase; color:#666;}
.hiwUl li:nth-child(even) {width: 100px; vertical-align: text-bottom; }
.callUsStrip{text-align: center;background: #4b4b4b; position: relative;padding: 25px 0px;}
.stripText{font-size: 36px; line-height: 40px; color:#fff;}
.stripTextBold{font-size: 48px; font-weight: 600; color: #fff;}
.callUsStripUl{padding: 0px; margin: 0px; list-style: none; text-align: center;}
.callUsStripUl li{display: inline-block;padding-right:30px; vertical-align: middle; }


.fourthRow{ min-height: 170px;position: relative;padding: 50px 0px;}
.fourthRow .heading{font-size: 18px; line-height: 28px; border-bottom: 2px solid #eeaf19; display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: 400;color:#666666;}
.subTextWhite{font-size: 18px; color:#fff;}
.fifthRow{ min-height: 170px;position: relative;padding: 50px 0px; background:url(../img/background.png); text-align: center;}
.fifthRow .heading{font-size: 18px; line-height: 24px; border-bottom: 2px solid #eeaf19; display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: 400;color:#666666; text-align: center;}
.disclaimerText{padding font-size: 14px; line-height: 18px;color:#666666; text-align: left;}
.disclaimerText .bold{font-weight: bold; font-style: italic;}
.sixthRow{background: #4b4b4b; min-height: 55px;}
.copyRight{font-size: 11px; padding-top: 20px; color: #fff; float: left; line-height: 30px;}
.sixthRow .cards{float: right;font-size: 11px; padding-top: 20px; color: #fff;}
.sixthRow .cards span{float: left; line-height: 30px;}
.sixthRow img{float: right;	margin-left: 20px;}
.arrowRight{margin-top: 30px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mt-40{margin-top: 40px;}
.mb-40{margin-bottom: 40px;}
.readMore, .readLess{color: #eeaf19 !important; cursor: pointer;}
.readMoreText{display: none;}
.callUsHeader{width:100%; position: fixed; background: #000; padding: 10px; text-align: center; color: #fff; z-index: 999; display: none;}

.redBox{width: 350px; background: url(../img/redBox.png) no-repeat; background-size: contain; height: 85px; margin-top: 30px; padding: 10px;}

.redBox .text{font-size: 22px; line-height: 32px; font-weight: 600; color: #fff; margin: 0px; padding: 0px;}
.redBox .subText{font-size: 16px; line-height: 26px; color: #fff; margin: 0px; padding: 0px;}
.normalText{font-size: 16px; color: #666; text-align: left;}
.pnpUl{padding:0px; margin: 0px; text-align: center; margin-bottom: 20px;}
.pnpUl li{list-style: none; display: inline-block; margin: 0px; padding: 5px; vertical-align: middle;}
.pnpUl li p{color: #ec544a; font-size: 36px; font-weight: 600;}
.pnpUl li span{color: #666; font-size: 16px; display: block; font-weight: normal;}
.childWatch{font-size: 15px; text-transform: uppercase; color: #666; text-align: left; font-weight: 600;}
.panel {border-left: 0px; border-right: 0px; border-radius:0px !important; border-bottom: 0px; box-shadow: none;}
.panel-default>.panel-heading {
color: #666;
background-color: #fff;
border-color: transparent;
}
.panel-heading {border-radius: 0px;}
.panel-group .panel+.panel {
margin-top: 0px;
}

.panel-body ul{padding: 0px; margin: 0px;}
.panel-body ul li{padding: 0px; margin: 2px; font-size: 12px; color: #666; text-align: left;}

.panel-group .panel-heading+.panel-collapse .panel-body {border: 0px;}

.upArrow{background: url(../img/upArrow.png) no-repeat; background-position: right center;}
.downArrow{background: url(../img/downArrow.png) no-repeat; background-position: right center;}
.panel-title img{padding-top: 2px; margin-right: 10px;}


/*	media queries  */

@media (max-width: 1380px){
	.pnpUl li p {font-size: 28px;}
}

@media (max-width: 1240px){
	.content, .header{width: 960px;padding: 0px 10px;}
	.firstRowContent{width: 960px}
	.hiwUl li {width: 200px;}
	.firstRow, .headerContent{width: 100%;}
	.testimonailText{font-size: 27px; letter-spacing: -.5px;}
	.testimonailYellowDiv{width: 300px;}
	.col1 {width: 280px;}
	.col4 {width: 240px;}
	.col3 {width: 180px;}
	.col2 {width: 240px;}
	/*.content .col{padding:0px 10px;}
	.col1{width: 205px !important;}
	.col2{}
	.col3{width: 220px !important;}
	.col4{}*/
}

@media(max-width: 991px){
	.carousel {margin-bottom: 60px;}
	.carousel-inner {min-height: inherit;padding-bottom: 20px;}
	.content, .header{width: 710px; padding-left: 12px; padding-right: 12px;}
	.firstRowContent{width: 710px;}
	/*.firstRowContent h1{font-size: 36px; line-height: 40px; width: 450px;}*/
	.firstRowContent p{font-size: 36px; line-height: 40px;}
	.callUs p{font-size: 36px; line-height: 40px;}
	.rightDiv{border-left: 0px; padding-left: 0px;}
	.hiwUl{display: block;}
	.hiwUl li {width: 100%; display: block; margin: 40px 0px;}
	.hiwUl li:nth-child(even) {width: 100%;}
	.testimonailYellowDiv {width: 360px;float: left;}
	.content .col {width: 100% !important; text-align: center; border: 0px; margin-bottom: 15px;}
	.content .col p{text-align: center; float: none;}
	.content .col img{text-align: center; float: none;}
	.col4{margin-bottom: 50px;}
	.arrowRight{-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
	.carousel {float: left;}
	.arrowRight{margin-top: 0px;}
	.stripTextBold {font-size: 36px;}
	.stripText {font-size: 24px;line-height: 36px;}
	.col1, .col2, .col3, .col4{background: transparent;}
}	

@media(max-width: 730px){
	.content, .header {width: 100%; padding:0px 20px;}
	.firstRowContent{width: 100%; padding-left:20px; padding-right: 20px; }
	.absoluteContent p span{font-weight: 400;}
	.callUs p{display: block; margin: 0px;}
	.callUs p span{display: block;}
	.callUs {padding: 5px 20px;}
	.testimonailYellowDiv {width: 300px;}
	.firstRowContent h1{font-size: 36px; line-height: 40px; width: 420px;}
	.stripTextBold {font-size: 28px;}
	.stripText {font-size: 18px;line-height: 30px;}	
}

@media(max-width: 520px){
	.testimonailYellowDiv {float: none;width: 60%;background: #fdb511;height: auto;margin: 0 auto;min-height: inherit;}
	.carousel-inner{min-height: inherit; height: auto;}
	.testimonailText span {display: block;}
	.testimonailText{text-align: center;}
	.copyRight{float: none; text-align: center;	}
	.sixthRow .cards{float: none;text-align: center;}
	.sixthRow img {float: none;}
	.sixthRow .cards span {float: none;}
	.firstRowContent h1 {width: 100%;}

}

@media(max-width: 420px){
	.testimonailYellowDiv{width: 95%;}
	.pnpUl li {display: block;}
	.firstRowContent {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	}
	.redBox .subText {font-size: 12px;line-height: 26px;}
	.redBox .text {font-size: 16px;line-height: 26px;}
	.redBox {width: 250px; padding: 5px;}
}