body{font-family: 'Open Sans', sans-serif; background:url(../img/background.png) no-repeat; /*overflow-x:hidden;*/}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}


.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}

.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}

.wrapper{width:100%; margin: 0 auto; position: relative;}
.content{width:1000px; margin: 0 auto; position: relative;}
.wrapper:after {content: " ";display: table; clear: both;}
.clear{clear: both;}
.wrapper:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content:after {content: " ";display: table; clear: both;}
.content:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.firstRowCont{ min-height: 500px; background: #ccc;}
.firstRowCont:after {content: " ";display: table; clear: both;}
.firstRowCont:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.headerContent{background: transparent;}
.headerContent:after {content: " ";display: table; clear: both;}
.headerContent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.header{height: 80px;width: 1000px; margin: 0 auto;}
.logo{padding: 20px 0px; float: left;}

/* new css */
.banner-wrapper{position: relative;}
.apple-banner-container{position: relative;}
.apple-banner{position: absolute; top: 0px; right:20px;}

.apple-banner-container .gen-bullet-list{
margin: 0px;
padding: 0px;
list-style: none;
text-align: left;
}

.apple-banner-container .gen-bullet-list li {
background: url(../img/bulletBlue.png) no-repeat left center;
padding: 7px 30px 7px 20px;
font-size: 18px;
line-height: 30px;
color: #000;
text-align: left;
}

.call-button {
border-radius: 50px;
display: inline-block;
float: left;
padding: 5px 30px;
background: #1388cd;
margin-bottom: 20px;
}

.call-button p {
color: #fff;
font-weight: 600;
word-wrap: break-word;
font-size: 36px;
margin: 0px;
padding: 0px;
line-height: 48px;
text-align: center;
}

.four-grid{background: #666666; border-radius: 5px; padding: 5px;}
.bigText{font-size: 24px; color: #fff;}
.smallText{font-size: 16px; color: #fff;}
.four-grid .col1 img{vertical-align: middle; vertical-align: middle; padding-top:6px;}
.heading3{font-size: 18px; margin-bottom: 30px; }
.heading3 span{padding-bottom: 5px; border-bottom: 2px solid #148ace;}
.call-us-block{font-size: 18px;line-height: 30px; vertical-align: middle;}
.call-us-block span.blueWord{font-size: 36px; color: #188ed2; line-height: 48px;}
.mac-details .card .heading2{font-size: 24px; font-weight:600; line-height: 36px}
.mac-details-wrapper .gen-bullet-list{
margin: 0px;
padding: 0px;
list-style: none;
text-align: left;}
.mac-details-wrapper .gen-bullet-list li {
background: url(../img/bulletBlue.png) no-repeat left center;
padding: 5px 30px 5px 20px;
font-size: 14px;
line-height: 24px;
color: #000;
text-align: left;
list-style: none;
}
.call-us-big-footer{padding: 20px; background: #666666; border-radius: 5px;}
.taCenter{text-align: center;}
.colorWhite{color: #fff;}
.footer{background: #c8c8c8; border-top: thin solid #fff; color: #666;}
.callUsHeader{width:100%; position: fixed; background: #000; padding: 10px; text-align: center; color: #fff; z-index: 9; display: none;}


.firstRow{height:inherit; min-height:500px;position: relative; text-align: center; background:url(../img/slider1.png) no-repeat; background-position: center top; background-size: cover; padding: 0px; margin: 0px;width: 100%; margin: 0 auto;}
.firstRow a{position: absolute;right:0px; top:20px;}
.firstRowContent{width: 1000px;padding-top: 170px; margin: 0 auto}
.firstRowContent h1{color:#4b4b4b; font-size: 52px; text-align: left;font-weight: 700; margin: 0px; padding: 0px; width: 600px;}
.callUs{border-radius: 50px;display: inline-block; float:left;padding: 5px 30px;background: #eeaf19;}
.firstRowContent p{text-align: left; font-size: 52px; padding:5px 0px; color:#4b4b4b;  font-weight: 400;word-wrap:break-word; margin: 0px 0;}
.callUs p{color: #fff; font-weight: 600;word-wrap:break-word; font-size: 52px;margin: 0px; padding: 0px; line-height: 60px; text-align: center;}
.secondRow{ min-height: 100px; width: 100%; font-size: 52px; color: #fff; font-weight: bold;background: #4b4b4b; padding: 0px 0px;}
.flRte img{margin-left: 30px;padding-top: 17px !important;}
.ml-50{margin-left: 40px !important;}
.col1{padding-left: 10px; padding-right: 10px; height: 70px;}
/*.col{padding-left: 10px; padding-right: 10px;}
.col2{padding-left: 10px; padding-right: 10px;}
.col3{padding-left: 10px; padding-right: 10px;}
.col4{padding-left: 10px; padding-right: 10px;}*/
.colCotent:after {content: " ";display: table; clear: both;}
.colCotent:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content .col{text-align: left; width: 245px; padding: 0px 14px;border-right: thin solid #8e8e8e;}
.content .col:last-child{border-right: 0px;}
.content .col img{float: left;  margin-right: 10px;}
.content .col p{float: left; font-size: 24px; padding: 0px; margin: 0px; vertical-align: top;line-height: 24px; font-weight: 400;color:#eeaf19;}
.content .col p span{font-size: 16px; color: #fff; display: block; color:#fff;}
.leftDiv{padding-left: 0px; text-align: left;}
.leftDiv p{font-size: 14px;color:#666666; line-height: 24px; margin-bottom: 10px;}
.leftDiv ul{margin:0px; padding:0px; list-style: none; text-align: left;}
.leftDiv ul li{background: url(../img/tick.png) no-repeat left center; padding: 7px 30px 7px 20px; font-size: 14px; line-height: 22px;color:#fff; text-align: left;}
.rightDiv{margin-bottom: 0px; border-left: thin solid #cccccc;}
.rightDiv .heading{font-size: 18px; line-height: 28px; border-bottom: 2px solid #eeaf19; display: inline; padding-bottom: 5px;}
.rightDiv ul{padding: 0px; margin: 0px; list-style: none; margin-top: 30px;}
.rightDiv ul li{display: inline-block; margin-bottom: 20px;color:#666666;}
.rightDiv ul li:nth-child(odd){margin-right: 45px;width:205px;}
.rightDiv ul li img{float: left; margin-right: 10px;}


.rightDiv ul li p{float: left; font-size: 15px; padding-top: 10px;color:#666666;}
.testimonailText{font-size: 28px; line-height: 44px; color:#666;}
.testimonailText span{font-size: 32px; color:#fdb511; font-weight: 600;}
.carousel{margin-top: 30px; margin-bottom: 40px; float: right;}
.testimonailYellowDiv{ margin-left: 20px; width: 320px; min-height: 160px; background:url(../img/commentWrapper.png) no-repeat; color:#fff; font-size: 18px; font-weight: 400; padding: 10px 30px; float: right;}
.testimonailYellowDiv p{font-weight: 600; color:#fff;}
.testimonialBy{display: inline-block; float: right; font-weight: 800; margin-top: 0px;}
.userImg{float: left;position:relative; margin-top: 75px;}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #fdb511;
}
.carousel-indicators li {
background-color: #ccc;
}
.carousel-indicators {bottom: 0px;padding-bottom: 0px; left:0px; margin-left: -30%; text-align: left; margin-bottom: -20px;}
.carousel-inner{height: 180px;}



.thirdRow{text-align: center;background: url(../img/background.png); min-height: 170px;position: relative;padding: 50px 0px;}
.thirdRow .heading{font-size: 24px; line-height: 30px; border-bottom: 2px solid #eeaf19; display: inline-block; padding-bottom: 5px; text-align: center;  font-weight: 600;color:#4e4e4e;}
.subTextLight{font-size: 18px; font-weight: 400; text-align: center;}
.hiwUl{padding: 0px; margin: 0px; list-style: none;text-align: left; border-bottom: thin solid #cccccc; padding-bottom: 10px;}
.hiwUl li{display: block;vertical-align: middle;margin-top: 20px;}
.hiwUl li img{float: left;}
.hiwUl li p{margin-left: 100px;}


.blueBold{font-size: 32px; font-weight: 700; color: #1388CD; margin-top: 20px; margin-bottom: 0px;}
.italicText{font-size: 16px; font-weight: 600; font-style: italic; text-transform: lowercase; color:#666;}

.callUsStrip{text-align: center;background: #4b4b4b; position: relative;padding: 25px 0px;}
.stripText{font-size: 36px; line-height: 40px; color:#fff;}
.stripTextBold{font-size: 48px; font-weight: 600; color: #fff;}
.callUsStripUl{padding: 0px; margin: 0px; list-style: none; text-align: center;}
.callUsStripUl li{display: inline-block;padding-right:30px; vertical-align: middle; }




.fourthRow{ min-height: 170px;position: relative;padding: 50px 0px;}
.fourthRow .heading{font-size: 18px; line-height: 28px; border-bottom: 2px solid #eeaf19; display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: 400;color:#666666;}
.subTextWhite{font-size: 18px; color:#fff;}
.fifthRow{ min-height: 170px;position: relative;padding: 50px 0px; background:url(../img/background.png); text-align: center;}
.fifthRow .heading{font-size: 18px; line-height: 24px; border-bottom: 2px solid #eeaf19; display: inline-block;padding-bottom: 5px;margin: 0 auto; font-weight: 400;color:#666666; text-align: center;}
.disclaimerText{padding font-size: 14px; line-height: 18px;color:#666666; text-align: left;}
.disclaimerText .bold{font-weight: bold; font-style: italic;}
.sixthRow{ min-height: 55px;}
.copyRight{font-size: 11px; padding-top: 20px; color: #666; float: left; line-height: 30px;}
.sixthRow .cards{float: right;font-size: 11px; padding-top: 20px; color: #666;}
.sixthRow .cards span{float: left; line-height: 30px;}
.sixthRow img{float: right;	margin-left: 20px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mt-40{margin-top: 40px;}
.mb-40{margin-bottom: 40px;}

.sectionWrapper {width: 1000px; margin: 0 auto;}
.body-apple {background:#e4e4e4; color: #474747;}
.card {background: #fff; border-radius: 5px; padding: 20px;}
.heading {font-weight: normal;color: #474747;}
.bold{font-weight: bold;}
.heading span {color: #1e93d7;}
.heading2 {font-size: 28px; line-height: 32px;}


/*	media queries  */
@media (max-width: 1050px){
	/*.content, .header{width: 960px;padding: 0px 10px;}
	.firstRowContent{width: 960px}
	.hiwUl li {width: 200px;}
	.firstRow, .headerContent{width: 100%;}
	.testimonailText{font-size: 27px; letter-spacing: -.5px;}
	.testimonailYellowDiv{width: 300px;}
	.content .col{padding:0px 10px;}
	.col1{width: 205px !important;}
	.col2{}
	.col3{width: 220px !important;}
	.col4{}*/

	.sectionWrapper, .content, .header{width: 900px;}
	.content .col {width: 221px;}
	.apple-banner {width: 55%;}

}

@media(max-width: 991px){
	.sectionWrapper,.content, .header{width: 710px;}
	.hiwUl li div{width:350px; margin: 0 auto;}
	.heading3 {text-align: center;}
	.call-us-block{text-align: center;}
	.content .col {width: 100%; margin: 5px 0px;}
	.four-grid .col1 div{width: 200px; margin: 0 auto;}
	.content .col {border: 0px;}

	.stripTextBold {font-size: 36px;}
	.stripText {font-size: 24px;line-height: 36px;}
	.apple-banner {position: relative;padding: 10px 0px;margin: 0 auto;display: block;width: 60%;}
}

@media(max-width: 768px){
	.content, .header,.sectionWrapper  {width: 100%; padding:0px 20px;}
	.call-us-big-footer{margin-top: 20px !important;}

	.stripTextBold {font-size: 28px;}
	.stripText {font-size: 18px;line-height: 30px;}	
	.call-us-block span.blueWord {font-size: 24px;color: #188ed2;line-height: 36px;}
	.apple-banner {width: 70%;}
}


@media(max-width: 450px){
	.hiwUl li div {width: 100%;}
	.blueBold {font-size: 24px;}
	.call-button p {font-size: 24px; line-height: 32px;}
	.apple-banner {width: 80%;}
}